@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.citation {
  h3 {
    @include margin-top(1);
  }
  @include margin-bottom(2);

  &__code {
    background-color: #292e34;

    code {
      color: #ffffff;
      font-size: 12px;
      max-height: 300px;
      line-height: 1.5em;
      display: block;
      background: none;
      border: none;
      padding: 10px 15px;
      font-family: 'source code pro', menlo, consolas, monaco, monospace;
      white-space: pre;
      overflow: auto;
      user-select: text;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
    }
  }
  &__text {
    border-left: 5px solid #333;
    text-align: left;
    @include margin-left(0);
    @include padding-equal(1);
  }
}

@include breakpoint-sm {
  .citation {
    margin-left: auto;
    margin-right: auto;
  }
}
