@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.xai-continaer {
  display: flex;
  flex-direction: column;
  margin-right: 0 !important;
  margin-left: 0 !important;
  max-width: unset !important;

  div {
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: unset;
  }

  .small-devide-info {
    display: block;
  }

  .box-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    row-gap: 10px;
    min-width: 770px;

    .grid-item {
      grid-row-start: span 2;
      &--noise {
        grid-row-start: 2;
        grid-row-end: span 2;
        grid-column-start: 3;
      }
    }
  }

  .grid-cell {
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;

    &--clickable {
      cursor: pointer;

      &:hover {
        background-color: skyblue !important;
      }
    }

    &--matched-values {
      position: relative;
      &:after {
        position: absolute;
        right: 0;
        top: 0;
        color: forestgreen;
        content: '✔';
      }
    }

    &--selected {
      background-color: skyblue !important;
    }
  }

  .infidelity-controls {
    @include padding(1, 1, 1);
  }

  .infidelity-scores {
    margin-top: 20px;
    margin-left: 100px !important;
    .chart {
      position: relative;
      display: grid;
      grid-gap: 0.1em;
      margin-top: 2em;
      padding: 0;

      &__title {
        font-size: 1.5em;
        overflow: hidden;
      }

      &__value {
        padding: 0.1em 0.7em;
        border-radius: 0 0.6em 0.6em 0;
        overflow: hidden;
        transition: 0.3s ease-in-out;

        &__inlabel {
          white-space: nowrap;
        }

        &__outlabel {
          white-space: nowrap;
          margin-left: -70px;
          position: absolute;
        }
      }
    }
  }

  @include breakpoint-sm {
    .small-devide-info {
      display: none;
    }
  }
}

@include breakpoint-xl {
  .xai-continaer {
    flex-direction: row;
  }
}
