@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0);
  }

  &__body {
    & blockquote {
      font-style: italic;
      text-align: center;
      @include margin-top(0);
      background: #ededed;
      color: #111111;
      position: relative;
      border-left: 8px solid $color-secondary;
      @include padding(1, 0.5, 1, 1);

      &:before {
        content: '\201C';
        color: $color-secondary;
        font-size: $typographic-base-font-size * 4;
        position: absolute;
        @include top(1);
        @include left(0);
      }

      &:after {
        content: '';
      }

      & p {
        max-width: $layout-post-width;
        @include margin-top(0);
        @include margin-bottom(0);
        @include line-height(1.5);
      }

      & ul {
        text-align: left;
      }

      & a {
        font-weight: bold;
      }

      //& span {
      //  display: block;
      //  color: #333333;
      //  font-style: normal;
      //  font-weight: bold;
      //  margin-top: 1em;
      //}
    }
    & figure {
      @include margin-bottom(1);
    }

    & a {
      text-decoration: underline;
    }

    & div {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }

    & img {
      max-width: 100%;
      cursor: pointer;

      &[alt$='full'] {
        max-width: none;
        max-height: none;
        width: 100vw !important;
        margin-left: calc((-100vw + 100%) / 2) !important;
      }
    }
  }
}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 3;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }
    }
  }
}
