@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  display: flex;
  flex-direction: row;

  &__dot {
    padding-left: 4px;
    padding-right: 4px;
  }

  &__date {
    font-style: italic;
  }

}